<div class="center">
  <p class="whiteText">Hello World</p>
  <button (click)="testApi()">Test Api</button>
  <br>
  <br>
  <div>
    <a class="whiteText">Input: </a>
    <input placeholder="name" [(ngModel)]="name" type="text" name="nameInput">
  </div>
  <br>
  <br>
  <button (click)="writeToDatabase()">Write to database</button>
  <br>
  <br>
  <button (click)="readDatabase()">Read Database</button>
  <p class="whiteText">Database Results:</p>
  <div *ngFor="let name of names; index as i;">
    <p class="whiteText">{{name}}</p>
    <br>
  </div>
</div>
